<div class="field">
  <%= f.label :country %><br />
  <%= f.text_field :country %>
</div>

<div class="field">
  <%= f.label :city %><br />
  <%= f.text_field :city %>
</div>

<div class="field">
  <%= f.label :address %><br />
  <%= f.text_field :address %>
</div>