<nav>
  <div class="container navbar">
        <div>
          <%= link_to image_tag("logo_dhl.png", border: 0, size: 50), root_path %>
        </div>
        <div>
          <%= form_tag(search_shipments_path, {:method => "get"}) do %>
          <%= text_field_tag :search_tracking_id, params[:search_tracking_id], placeholder: "Find by Track Code " %>
          <%= submit_tag 'search', name: nil  %>
          <% end %>
        </div>
    <ul>
      <% if current_user %>
        <a href="#">Hi <%= current_user.email.split("@").first %></a>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign in', new_user_session_path %>
        <%= link_to 'Sign up', new_user_registration_path %>
      <% end %>
    </ul>
  </div>



</nav>
