<h2>Update Shipment</h2>
<%= form_for @shipment,  url: {action: "update"} do |f| %>
  <ul>
    <% @shipment.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
    <p>
    <%= f.label :tracking_id %>$<br />
    <%= f.text_field :tracking_id, readonly: true, disabled: true %>
  </p>
  <p>
    <%= f.label :origin_address %><br />
    <%= f.text_field :origin_address %>
  </p>
  <p>
    <%= f.label :destination_address %><br />
    <%= f.text_field :destination_address %>
  </p>
  <p>
    <%= f.label :weight %> <br />
    <%= f.text_field :weight %><strong> Kg</strong>
  </p>
  <p>
    <%= f.label :reception_date %><br />
    <%= f.date_field :reception_date %>
  </p>
  <p>
    <%= f.label :estimated_delivery_date %><br />
    <%= f.date_field :estimated_delivery_date %>
  </p>
  <p>
    <%= f.label :freight_value %>$<br />
    <%= f.text_field :freight_value %>
  </p>
  <p>
    <%= f.label :recipient_id %><br />
    <%= f.collection_select(:recipient_id, User.all, :id, :email) %>
  </p>
  <p>
    <%= f.label :sender_id %><br />
    <%= f.collection_select(:sender_id, Sender.all, :id, :store_name) %>
  </p>

    <%= f.submit data: { confirm: "Are you sure about updating?"}%>
  </p>
<% end %>

<%= link_to "<button>Delete</button>".html_safe, admin_shipment_path(@shipment), method: :delete, data: { confirm: "Really delete this Shipment?"} %>
<%= link_to '<button type="button">Back</button>'.html_safe, search_and_edit_admin_shipments_path %>