<<<<<<< HEAD
<h3>Sales Reports</h3>
<ul>
<li><%= link_to "Top Senders by Packages Sent", top_senders_by_packages_sent_admin_shipments_path %></li>
<li><%= link_to "Top Senders by Freight Value", top_senders_by_freight_value_admin_shipments_path %></li>
<li><%= link_to "Top 5 Countries Recipient", top_5_countries_recipients_admin_shipments_path %></li>
<li><%= link_to "Top 5 Countries Senders", top_5_countries_senders_admin_shipments_path %></li>
</ul>
=======

<p><%= link_to "Top Senders by Packages Sent", top_senders_by_packages_sent_admin_shipments_path %></p>
<p><%= link_to "Top Senders by Freight Value", top_senders_by_freight_value_admin_shipments_path %></p>
<p><%= link_to "Top 5 Countries Recipient", top_5_countries_recipients_admin_shipments_path %></p>
<p><%= link_to "Top 5 Countries Senders", top_5_countries_senders_admin_shipments_path %></p>


>>>>>>> 80325e6c63f52c27687ea9020e9de40991692503
