<p>Tracking number: <%= @shipment.tracking_id %></p>
<p>Origin address: <%= @shipment.origin_address %></p>
<p>Destination address: <%= @shipment.destination_address %></p>
<p>Weight: <%= @shipment.weight %></p>
<p>Reception date: <%= @shipment.reception_date %></p>
<p>Estimated delivery date: <%= @shipment.estimated_delivery_date %></p>
<p>Delivered date: <%= @shipment.delivered_date %></p>
<p>Freight value: <%= @shipment.freight_value %></p>